
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway' !important;
}

button {
  font-family: 'Raleway'!important;
}

input[type=email], input[type=password], input[type=text] {
  font-family: 'Raleway'!important;
}

.cus_margin{
  margin: -2rem auto 5rem !important;
}

.button {
  font-family: 'Raleway'!important;
}

p {
  font-family: 'Raleway'!important;
}

option {
  font-family: 'Raleway'!important;
}

.button {
  border: none;
  color: #fff;
  border-radius: 0;
  outline: 0;
  height: auto;
  line-height: 1.4;
  padding: 8px 12px;
  vertical-align: middle;
  text-transform: uppercase !important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  max-width: 100%;
  white-space: normal;
  background-color: #0eacdb !important;
  }

.tra_horizontal_choice label{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  cursor: pointer;
}

.tra_horizontal_choice {
  margin-bottom: 20px;
}

p.tra_question{
  font: bold;
  font-size: 110%;
  margin-bottom: 5px;
}

p.tra_warning{
  color: red;
}

#tra_button_pane {
  margin-top: 20px;
  margin-bottom: 20px;
}