@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto, serif;
}

.input-margin {
  display: block;
  margin-top: 10px!important;
}

.card-body {
  padding: 0!important;
}

.button {
  border: none;
  color: #fff!important;
  border-radius: 0;
  outline: 0;
  height: auto;
  line-height: 1.4;
  padding: 8px 12px;
  vertical-align: middle;
  text-transform: uppercase !important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  max-width: 100%;
  white-space: normal;
  background-color: #0eacdb !important;
  }

.register_horizontal_choice label{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  cursor: pointer;
}

p.register_question{
  font-size: 110%;
  margin-bottom: 10px;
}

p.register_warning{
  color: red;
  margin-bottom: 0!important;
  margin-top: 20px;
}

#register_button_pane {
  margin-top: 15px;
  margin-bottom: 15px;
}