@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand' !important;
}

.card-body {
    padding: 0px!important;
}

.login-button {
    margin-top: 10px!important;
    margin-left: 0px!important;
}

button[disabled]:hover {
    font-family: Quicksand !important;
    line-height: 1.4 !important;
    padding: 8px 12px !important;
}

.button {
    border: none;
    cursor: pointer;
    color: #fff!important;
    border-radius: 0;
    outline: 0;
    height: auto;
    line-height: 1.4;
    padding: 8px 12px;
    vertical-align: middle;
    text-transform: uppercase !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 100%;
    white-space: normal;
    background-color: #0eacdb !important;
}

.button:hover {
    background: #1691b5!important;
}

.login_horizontal_choice label{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
    cursor: pointer;
}

.login_horizontal_choice {
    margin-bottom: 20px;
}

p.login_question{
    font: bold;
    font-size: 110%;
    margin-bottom: 5px;
}

p.login_warning{
    color: red;
}

#login_button_pane {
    margin-top: 15px;
    margin-bottom: 15px;
}

.table_entry {
    /*padding: 0px;*/
    width: 110px;
}

a#edit {
    cursor: pointer;
}

.table_entry p {
    margin: 0!important;
    padding-top: 10px;
    padding-bottom: 5px;
}

.table_entry p button {
    margin-bottom: 5px;
    width: 115px!important;
}

.table_expert_column {
    width: 130px!important;
}

td {
    text-align: center!important;
}

td.subject:hover {
    background: #00a0d2;
    cursor: pointer;
}

.NameHeader {
    text-align: right;
    margin-bottom: 0px!important;
}

.champions {
    margin-bottom: 0px!important;
}

.description {
    text-align: justify!important;
}

textarea#commentText {
    margin-bottom: 10px;
}

textarea#RecommendationText {
    margin-bottom: 10px;
}

.Joined {
    background: #6c757d!important;
}

.Close {
    background: #a93a32!important;
}

#DisplayCommentSection {
    text-align: left;
    padding-left: 0!important;
}

#DisplayRecommendationsSection {
    padding-left: 0!important;
}

#RecommendationsSection {
    padding-left: 0!important;
}

#CommentSection {
    padding-left: 0!important;
}

.Participants {
    text-align: right!important;
}

.HoverRecommendation {
    background: #82b4cb;
    cursor: pointer;
}

.alert-status-in-progress {
    color: #0b2e13;
}

.alert-status-closed {
    color: #a93a32;
}

img.logo {
    width: 100px;
    height: 55px;
    display: inline;
}
h4.NameHeader {
    line-height: 70px;
}

hr {
    margin-top: 0!important;
}

table {
    table-layout: initial!important;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

#invite .col-9 {
    padding: 0!important;
}

#invite .col-3 {
    padding: 0!important;
}

#invitation-email {
    height: 38px!important;
}

::-webkit-input-placeholder {
    text-align: center;
}


.invite-text {
    padding-right: 14px;
    margin-bottom: 5px!important;
}

.padd_sync {
    margin-left: 15px!important;
}

#notify {
    display: inline!important;
}

.discussion-close {
    margin-left: 5px;
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.login_links {
    color: #0c83e7!important;
    font-size: x-large;
    cursor: pointer;
}