
/* ==========================================================================
   #FONT
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


/* ==========================================================================
   #SELECT
   ========================================================================== */
select{
    width: 40%;
}

#contain h5{
    margin-top: 1em!important;
}

.bt{
    margin-top: 20px;
}

.card-body h4{
    margin-top: 1em!important;
}

.alertPost{
    font-size: x-large;
    cursor: pointer;
}

.userEmail{
    padding-right: 20px!important;
}

.inprogress{
    margin-top: 10px;
}

.join{
    margin-top: 10px;
}

.listParticipants{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.writeComment{
    margin-top: 10px!important;
}

.submit_comment{
    width: inherit!important;
}

.invite{
    width: inherit!important;
}

.participants{
    background: #6c757d;
}

.alertBack{
    margin-top: 10px!important;
}